body {
    background: #fafafa;
  }
  .order-card {
    color: #fff;
  }
  
  .bg-c-teal {
    background: linear-gradient(45deg, #4dc9ff, #375f6e);
  }
  
  .bg-c-lime {
    background: linear-gradient(45deg, #aaff4d, #667a3d);
  }
  
  .bg-c-indigo {
    background: linear-gradient(45deg, #4d4dff, #3c3c77);
  }
  
  .bg-c-cyan {
    background: linear-gradient(45deg, #4dffd6, #3b796c);
  }
  
  .bg-c-magenta {
    background: linear-gradient(45deg, #ff4d88, #7c3d52);
  }
  
  .bg-c-amber {
    background: linear-gradient(45deg, #ffca28, #695c25);
  }
  
  .bg-c-deep-orange {
    background: linear-gradient(45deg, #ff6f00, #754a1e);
  }
  
  .bg-c-purple {
    background: linear-gradient(45deg, #8a6eff, #463d6d);
  }
  
  .bg-c-orange {
    background: linear-gradient(45deg, #edff4d, #555c1c);
  }
  
  .bg-c-red {
    background: linear-gradient(45deg, #ff4d4d, #552b2b);
  }
  
  .bg-c-brown {
    background: linear-gradient(45deg, #a6814d, #4d4232);
  }
  
  .bg-c-olive {
    background: linear-gradient(45deg, #7f9f5e, #a9bc8f);
  }
  
  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .card .card-block {
    padding: 25px;
  }
  
  .order-card i {
    font-size: 26px;
  }
  
  .f-left {
    float: left;
  }
  
  .f-right {
    float: right;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  i,
  h6,
  p,
  span {
    pointer-events: none;
  }
  
  .card:hover i,
  .card:hover h6,
  .card:hover p,
  .card:hover span {
    pointer-events: auto;
  }
  body{
    width: 100%;
height: 100%;
font-family: "Open Sans", sans-serif;
background: #2f3337;
background: -moz-radial-gradient(
    0% 100%,
    ellipse cover,
    rgba(60, 64, 67, 0.4) 10%,
    rgba(47, 51, 55, 0) 40%
);
background: -webkit-radial-gradient(
    0% 100%,
    ellipse cover,
    rgba(60, 64, 67, 0.4) 10%,
    rgba(47, 51, 55, 0) 40%
  ),
  -webkit-linear-gradient(
    top,
    rgba(60, 64, 67, 0.25) 0%,
    rgba(47, 51, 55, 0.4) 100%
  ),
  -webkit-linear-gradient(135deg, #2c2f33 0%, #2f3337 100%);
background: -o-radial-gradient(
    0% 100%,
    ellipse cover,
    rgba(60, 64, 67, 0.4) 10%,
    rgba(47, 51, 55, 0) 40%
  ),
  -o-linear-gradient(
    top,
    rgba(60, 64, 67, 0.25) 0%,
    rgba(47, 51, 55, 0.4) 100%
  ),
  -o-linear-gradient(135deg, #2c2f33 0%, #2f3337 100%);
background: -ms-radial-gradient(
    0% 100%,
    ellipse cover,
    rgba(60, 64, 67, 0.4) 10%,
    rgba(47, 51, 55, 0) 40%
  ),
  -ms-linear-gradient(
    top,
    rgba(60, 64, 67, 0.25) 0%,
    rgba(47, 51, 55, 0.4) 100%
  ),
  -ms-linear-gradient(135deg, #2c2f33 0%, #2f3337 100%);
background: -webkit-radial-gradient(
    0% 100%,
    ellipse cover,
    rgba(60, 64, 67, 0.4) 10%,
    rgba(47, 51, 55, 0) 40%
  ),
  linear-gradient(
    to bottom,
    rgba(60, 64, 67, 0.25) 0%,
    rgba(47, 51, 55, 0.4) 100%
  ),
  linear-gradient(135deg, #2c2f33 0%, #2f3337 100%);
margin-left: 0;
  }
  .content-wrapper,
  .main-footer,
  .main-header{
    background-color: transparent;
  }
  *{
    color: white;
  }
  body:not(.layout-fixed) .main-sidebar {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
.main-footer {
  border-top: none;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav-link {
  background-color: rgba(77, 77, 77, 0.322);
}

.nav-link:hover p,.nav-link:hover i {
  color: #007bff;
}
.logout-button{
  background-color: rgba(109, 0, 0, 0.8);
}

.logout-button_hover {
  background-color: rgb(17, 255, 57);
}
.logout-button:hover p,
.logout-li:hover i {
  color: #ff0000;
}
